body{
	font-family:"georgia","serif";
	background:#fff;
	vertical-align:top;
}


ul{
	
	padding:30px;
	list-style:none;
	background-color:rgba(255,165,0,0.1);
	box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	margin-top:15px;
}

ul li{
	margin-top:15px;
	padding-top:15px;

}

ul li:first-child{
	border-top:none;
	margin-top:0px;
	padding-top:0px;
}


ul li.horizontal{
	margin-top:15px;
	margin-right:15px;
	border-top:none;
	display:inline-block;
	vertical-align:top;
	background-color:rgba(255,165,0,0.1);
	box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	padding:5px;
}


button{
	margin-top:20px;
}


table tr td{
	vertical-align:top;
}

.close{
	float:right;
	cursor:pointer;
	font-weight:bold;

}

.close:hover{
	color:#ff0000;
}

.code{
	width:55px;
	float:right;
	margin-right:5px;
}

